<div class="jumbotron">
	<h1>Editing Car</h1>
</div>

<div class="container">
<%= form_for @car, html: { multipart: true } do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :pts %><br>
    <%= f.text_field :pts %>
  </div>
  <div class="field">
    <%= f.label :pts_date %><br>
    <%= f.date_select(:pts_date, :order => [:day, :month, :year], :start_year => 1900) %>
  </div>
          <div class = "row">
            <% @c.each do |c| %>
	            <% if c.photo? %>
	              <%= image_tag c.photo.url(:small) %>
	          	<% end %>
            <% end %>
          </div>

   <%= f.fields_for :car_images do |builder| %>
         <% if builder.object.new_record? %>
            <div class="form-group">
              <%= builder.label :photo, "Image" %>
              <%= builder.file_field :photo %>
            </div>
          <% end %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

			

<!-- <%= link_to 'Show', @car %>  -->
<div class="container">
	<%= button_to 'Back', cars_path, :method => :get %>
</div>