<div class="container">
<div class="jumbotron">
  <h1><%= t('cars.index.head') %></h1>
</div>


<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="table-responsive">


<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('cars.index.name') %></th>
      <th><%= t('cars.index.number') %></th>
      <th><%= t('cars.index.pts') %></th>
      <th><%= t('cars.index.pts_date') %></th>
      <th><%= t('cars.index.photo') %></th>
      <th><%= button_to t('cars.index.new'), new_car_path, method: :get  %></th>
      
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= @count += 1 %></td>
        <td><%= car.name %></td>
        <td><%= car.number.upcase %></td>
        <td><%= car.pts.upcase %></td>
        <td><%= car.pts_date.to_date.strftime("%d.%m.%Y") %></td>
            <% if car.car_images.exists? %>
              <% @m = "*" %>
            <% else %>
              <% @m = "" %>
            <% end %>
        <td><%= @m %></td>
        <!-- <td><%= link_to 'Show', car %></td> -->
        <td><%= button_to t('cars.index.edit'), edit_car_path(car), method: :get %></td>
        <td><%= button_to t('cars.index.destroy'), car, method: :delete, data: { confirm: t('cars.index.destroy_question') } %></td>
      </tr>
    <% end %>
      <th><%= t('cars.index.total')%> <%= Car.count %> </th>
  </tbody>
</table>
</div>
</div>



