<!DOCTYPE html>
<html>
<head>
  <title><%= t('layouts.title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="navbar navbar-default">
	    <%= form_tag root_path, class: 'locale' do %>
	      <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
	      <%= submit_tag 'submit' %>
	      <%= javascript_tag "$('.locale input').hide()" %>
	    <% end %>
	</div>
</div>


<%= yield %>

</body>
</html>
